
@section Style{
    <link rel="stylesheet" href="~/css/product.css" />
}
<h1 class="section-title">Our  Products</h1>
<div class="container">
    <div class="row">
        <div align="center">
            <button class="btn btn-default filter-button active" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
            <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
        </div>
        <br/>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="~/images/Products/1.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="~/images/Products/2.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <img src="~/images/Products/3.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="~/images/Products/4.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <img src="~/images/Products/5.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="~/images/Products/6.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <img src="~/images/Products/7.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="~/images/Products/8.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
        <a href="#" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <img src="~/images/Products/9.jpg" class="img-fluid">
            <span class="product-overlay">
                Alka-Pi 808 <br> Water Dispenser 
            </span>
        </a>
    </div>       
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');

                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
                if ($(".filter-button").removeClass("active")) {
                    $(this).removeClass("active");
                }
                $(this).addClass("active");
            });
        });
    </script>
}