@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="img-fluid" src="images/PWF_Home_Page.png" />
</div>

<!-- Footer -->
<div class="row">
    <div style="background-image: url(images/bottomimg.png);">
        <footer class="position-relative" style="padding-top:80px">
            <div class="container">
                <div class="row" style="padding-top:105px">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mt-3">
                        <div class="mt-5 text-center">
                            <a>
                                <img src="images/loginicon1.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-4">
                        <div class="footer-widget mb-4">
                            <h3 class="footer-title-4">About Shop</h3>
                            <div class="footera-about-2">
                                <p>Pure Water Factory is the place where you can find purest water supply for your fresh and healthy life.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mt-4">
                        <div class="footer-widget mb-4">
                            <h3 class="footer-title-4">Contact Info</h3> <div class="footer-contact-wrap">
                                <div class="single-footer-contact fc-green-3">
                                    <div class="footer-contact-icon">
                                        <i class="fa fa-clock" style="color: rgb(9, 133, 167);"></i>
                                    </div>
                                    <div class="footer-contact-text">
                                        <p>Monday - Friday: 9:00 - 19:00</p>
                                    </div>
                                </div>
                                <div class="single-footer-contact fc-green-3">
                                    <div class="footer-contact-icon">
                                        <i class="fa fa-envelope" style="color: rgb(9, 133, 167);">

                                        </i>
                                    </div>
                                    <div class="footer-contact-text">
                                        <p>thepurewaterfactory@gmail.com</p>
                                    </div>
                                </div>
                                <div class="single-footer-contact fc-green-3">
                                    <div class="footer-contact-icon">
                                        <i class="fa fa-phone-volume" style="color: rgb(9, 133, 167);"></i>
                                    </div>
                                    <div class="footer-contact-text">
                                        <p>
                                            (786) 431-1018
                                        </p>
                                    </div>
                                </div> <div class="single-footer-contact fc-green-3">
                                    <div class="footer-contact-icon">
                                        <i class="fa fa-home" style="color: rgb(9, 133, 167);"></i>
                                    </div>
                                    <div class="footer-contact-text">
                                        <p>
                                            2625 SW 27th  Ave Miami,
                                            FL 33133

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center copyright-ptb copyright-uppercase">
                            <p>
                                © 2022 PWF. <a target="_blank" href="">All rights reserved.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
        </footer> 
    </div>
</div>
<!-- Footer end-->
